@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;

    background-color: black;
    background-image: url("../Image/New2.jpg");

    /*opacity: 0.2;*/
    background-size: 25%;
    background-repeat: no-repeat;

    background-position: left;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    background-image: url("../Image/New.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top right;

}

.start {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 8rem;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}

.score {
    color: rgb(102, 14, 190);
    margin-top: 0%;

}

.game {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.trap {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.trap:after {
    display: block;
    background: url("../Image/Trap.png") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 110%;
    height: 80%;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.jerry {
    background: url("../Image/Jerry.png") bottom center no-repeat;
    background-size: 30%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 110%;
    transition: all 0.4s ease;
}

.trap.up .jerry {
    top: 0;
}

button {
    background: yellow;
    border: red;
    font-size: 3rem;
    cursor: pointer;
}